.bg{

  background-repeat: no-repeat;
   width:100%;
  height: 150vh;
  background-size: cover;
  
}
.contact-form{
  background-color: rgb(255, 228, 196,0.6);
  border: 0px solid #fff;
  padding: 40px 50px;
  margin-top: 20vh;
  box-shadow: -1px 1px 18px 8px rgba(0,0,0,0.75);
  font-weight: bold;
    margin-left: 0;
}